@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";


//Update colors to match Treasured Transportations's logo
$red: #BF2C2C;
$red-highlight: #BE241E;

$primary: $red;
$danger: $red-highlight;

@import "../node_modules/bulma/sass/utilities/_all";

//Add cool box for featured listings
@import "../node_modules/bulma/sass/elements/box";
.box-cool{
    @extend .box;

}

.box-cool:hover{
    opacity: .5;
}

//Add Ebay Box 

.box-ebay{
    @extend .box;
    border: #BF2C2C solid 21px;
}

//On Hover for Featured listings
.hoverchange:hover{
    opacity: .5;
}

//Fit logo to navbar
@import "../node_modules/bulma/sass/components/navbar";
$navbar-height: 8rem;
$navbar-item-img-max-height: 15rem;
$navbar-item-img-min-height: 10rem;

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
